.container {
  border-width: 1px;
  padding-left: 5px;
  border-style: solid;
  width: 400px;
  height: 600px;
}

.inlinelist {
  padding-right: 2px;
  padding-left: 2px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  padding-bottom: 5px,
}

.parent-container {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 20em;
}

.connect-button {
  margin-left:125px;
}
